* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    font-size: 16px;
}


.header { 
    min-height: 8vh;
    background-color: gray; 
    color: 1C6DD0;
    padding: 25px;
}

.header > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    color: blue;
}

.header > ul > li {
    cursor: pointer;
}

.content {
    padding: 25px;
    flex-direction: column;
}

.boxes {
    height: 55vh;
    width: 48%;
    background-color: gray;
}

.footer {
    min-height: 8vh;
    background-color: black; 
    color: white;
    padding: 25px;
}

.default-box {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}